/* Page 404 */

.not-found {
    padding-top: 1rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}