/* Emailing */

.emailing {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .img-container {
        padding-right: 10rem;

        img{
            height: 20rem;
        }
    }

    .content {

        h2 {

            text-align: center;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 26px;
            font-weight: 900;
            line-height: 5.5rem;
            padding-bottom: 4rem;

            span { 
                display: table;
                margin: 0 auto;
            }

        }

        .input-container {

            label {

                font-family: 'Titillium Web', sans-serif;
                font-size: 18px;
                padding-left: 2.5rem;

            }

            .input {

                form {
                    display:flex;
                    flex-direction:row;
                    border:1px solid grey;
                    border-radius: 3rem;
                    padding: 5px;
                    font-size: 18px;
                    font-family: "Titillium Web", sans-serif;
                  }
                  
                  input {
                    flex-grow:2;
                    border:none;
                    background: transparent;
                    padding-left: 2.5rem;
                    &::placeholder {
                        text-transform: uppercase;
                        padding-bottom: 1rem;
                      }
                  }
                  
                  input:focus {
                    outline: none;
                  }
                  
                  button {
                    border: .3rem solid #F67976;
                    background: #F67976;
                    color: #fff;
                    padding: 0.5rem 1rem;
                    border-radius: 3rem;
                    margin-left: 2.5rem;
                    margin-right: 1rem;
                    transition: .3s;

                    &:hover {
                        background: #fff;
                        color: #F67976;
                        cursor: pointer;
                    }

                  }

            }

        }

    }

}