/* Emailing */

.emailing {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .input-result{
        font-size: 18px;
        padding-top: 5px;
        padding-left: 2.5rem;
        font-family: 'Titillium Web', sans-serif;
        color: green;
    }

    .img-container {
        padding-right: 10rem;
        

        img{
            height: 20rem;
            position: relative;
            animation: waves 1.2s infinite;
            animation-direction: alternate;
        }

        @keyframes waves {
            0%{ top: 30px;}
            50%{ top: 5px;}
            100%{top: 0px}
        }
    }

    .content {

        h2 {

            text-align: center;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 26px;
            font-weight: 900;
            line-height: 5.5rem;
            padding-bottom: 4rem;

            span { 
                display: table;
                margin: 0 auto;
            }

        }

        .input-container {

            label {

                font-family: 'Titillium Web', sans-serif;
                font-size: 18px;
                padding-left: 2.5rem;

            }

            .input {

                form {
                    display:flex;
                    flex-direction:row;
                    border:1px solid grey;
                    border-radius: 3rem;
                    padding: 5px;
                    font-size: 18px;
                    font-family: "Titillium Web", sans-serif;
                  }
                  
                  input {
                    flex-grow:2;
                    border:none;
                    background: transparent;
                    padding-left: 2.5rem;
                    &::placeholder {
                        text-transform: uppercase;
                        padding-bottom: 1rem;
                      }
                  }
                  
                  input:focus {
                    outline: none;
                  }
                  
                  button {
                    border: .3rem solid #F67976;
                    background: #F67976;
                    color: #fff;
                    padding: 0.5rem 1rem;
                    border-radius: 3rem;
                    margin-left: 2.5rem;
                    margin-right: 1rem;
                    transition: .3s;

                    &:hover {
                        background: #fff;
                        color: #F67976;
                        cursor: pointer;
                    }

                  }

            }

        }

    }

}


@media (max-width: 48em) {
    .emailing{
        flex-wrap: wrap;
        padding-top: 1rem;

        .content{
            h2{
                font-size: 20px;
                margin-top: 25px;
            }
        }

        .img-container{
            height: 100px;
            padding-right: 0;
            img{
                height: 10rem;
                animation: none;
            }
        }
        
    }
    
}

.emailing .content .input-container label{
    font-size:16px;
}

/***** Modal emailling *****/
.modal-emailling{

    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100%;

    .modal-emailling-content{
        width: 55%;
        position: fixed;
        margin: 25px auto;
        top: 8%;
        left: 18%;
        z-index: 5;
        background: #fff;
        height: auto;
        border-radius: 5px;
        box-shadow: 1px 2px 7px #111;

        color: #111;
    }

    .btnFermer{
        width: 30px;
        color:#fff;
        font-weight: bold;
        z-index:5;
        height: 30px;
        font-size: 16px;
        font-family: "Titillium Web", sans-serif;
        position: absolute;
        top: 3%;
        right: 3%;
        background:linear-gradient(90deg, #1E6C77, #46BFD0);
        border: 1px;
        border-radius: 14px;
        cursor: pointer;

        &:hover{
            border: 2px solid #1E6D78 ;
            background: #fff;
            color: #1E6D78;
        }
    }

    .top-modal-emailling{
        color:#1E6C77;
        display: flex;
        justify-content: space-around;
        font-family: 'Titillium Web', sans-serif;
        

        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h1{
            margin-bottom: 25px;
            font-size: 25px;
            font-weight: bold;
        }

        p{
            font-size: 20px;
            font-weight: 400;
        }

        .img-modal-emailling{
            width:40%;
            padding: 55px;
            border-radius: 5px;
            background: linear-gradient(90deg, #1E6C77, #46BFD0);
        }

        img{
            width: 100%;
            height:auto;
        }
    }

    .right-modal-emailling{
        padding: 25px;
    }

    form{
        height: auto;

        label{
            display: flex;
            flex-direction: column;
            font-size:16px;
            font-weight: bold;
            margin: 15px 0 45px 0;
        }

        input{
            width: 60%;
            height: 30px;
            margin: 10px 0;
        }

        button{
            background: linear-gradient(90deg, #1E6C77, #46BFD0);
            color: #fff;
            border: none;
            border-radius: 5px;
            height: 40px;
            font-size:16px;
            font-weight: bold;
            width: 30%;
            cursor: pointer;

            &:hover{
                border: 2px solid #1E6D78 ;
                background: #fff;
                color: #1E6D78;
            }
        }
    }

}

@media (max-width: 48em) {
    .modal-emailling{
        .modal-emailling-content{
            top:2%;
            left:2%;
            width: 95%;

            .top-modal-emailling{
                flex-direction: column;
                
                .img-modal-emailling{
                    display: none;
                }
            }
        }        
    }
}