/*Nav-Bar*/

.accueil {
    background: linear-gradient(90deg, #1E6C77, #46BFD0);
}

.formation {
    background: linear-gradient(90deg, #262B32, #4D5666);
}

.article {
    background: linear-gradient(90deg, #1E6C77, #46BFD0);
}

div.accueil, div.formation, div.article {
    background: transparent;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 35px;
        display: flex;
        justify-content: space-between;
    }

    img {
        height: auto;
        width: 150px;
        margin: 0;

    }

    h1 {
        padding-top: 15px;
    }

    .logo{
        line-height: 80px;
    }

    .menu-ctn{
        width: 50%;

    }

    .menu {
        width: 100%;
        height: 80px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li{
            transition: 0.3s;

        }
        
        a {
            font-size: 16px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: #fff;

            &:hover {
                color: #313642
            }

            &.btn-grey {
                background: #313642;
                padding: 10px;
                border-radius: 2.7rem;
                transition: 0.3s;
                border: solid transparent .2rem;

                &:hover {
                    background: #fff;
                    color: #313642;
                    border: solid #313642 .2rem;
                }
            }

            &.btn-blue {
                background: #46BFD0;
                padding: 10px;
                border-radius: 2.7rem;
                transition: 0.3s;
                border: solid transparent .2rem;

                &:hover {
                    background: #fff;
                    color: #46BFD0;
                    border: solid #46BFD0 .2rem;
                }
            }

        }

    }

}

@media (max-width: 1331.98px) {

    nav {

        .container {
            width: 120rem;
        }

        .menu {
            width: 90rem;
        }

    }

}

@media (max-width: 1199.98px) {

    nav {

        .container {
            width: 99rem;
        }

        .menu {
            width: 75rem;

            a {
                font-size: 1.8rem;
            }

        }

    }

}

@media (max-width : 768.98px) {

    .accueil {
        background: transparent;
    }
    
    .formation {
        background: transparent;
    }
    
    .article {
        background: transparent;
    }

    nav {
        
        padding-top: initial;
        padding-bottom: initial;
        width: initial;
        position: initial;
        top: initial;
        left: initial;
        z-index: initial;

        .container {

            width: initial;
            margin: initial;
            display: initial;
            justify-content: initial;

            .menu {
                width: initial;
                height: initial;
                display: initial;
                justify-content: initial;
                align-items: initial;
        
                li{
                    transition: 0.3s;
        
                    &:hover {
                        transform: scale(1.5);
                    }

                }
        
            }

        }

    }

    nav .container div.accueil {
        background: linear-gradient(90deg, #1E6C77, #46BFD0);
    }
    
    div.formation {
        background: linear-gradient(90deg, #262B32, #4D5666);
    }
    
    div.article {
        background: linear-gradient(90deg, #A47311, #EFC164);
    }

    nav {

        .logo {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            img {
                display: block;
                margin: 0 auto;
            }
        }

        .menu-ctn {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            .menu {
                display: flex;
                width: 100%;
            }
        }

    }

}