.content-contact {
    margin:9.5rem auto;
    font-family: 'Lato', sans-serif;

    input:focus{
        outline:none;
        box-shadow: 0 0 0pt 1pt #1E6C77;
    }

    textarea:focus{
        outline:none;
        box-shadow: 0 0 0pt 1pt #1E6C77;
    }

    .title {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .cadre-form{
        width: 70%;
        height:auto;
        margin: 25px auto;
        display: flex;
        border-radius: 10px;
        box-shadow: 0 5px 25px 0 rgba(0,0,0,.3);
    }

    .img-part{
        width: 30%;
        display: flex;
        align-items: center;
        padding: 25px;
        border-radius: 10px;
        border-top-right-radius: 30px 200px;
        border-bottom-right-radius: 30px 200px;
        background: #ECF4F4;
        img{
            display: block;
            width:100%;
            height: auto;
        }
    }

    .form-part{
        width: 70%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        form{
            position: relative;
            height: 100%;
            padding:25px; 
        }

        button{
            width:80px;
            height:35px;
            font-weight: bold;
            background: #1E6C77;
            border: none;
            color:#fff;
            border-radius: 2rem;
            font-size:14px;
            margin: 10px; 
        }

        button:hover{
            background: #fff;
            color:#1E6C77 ;
            border: 2px solid #1E6C77;

        }

        .form-part-info{
            display: flex;
            width: 100%;
            flex-direction: column;

            label{
                display: block;
                font-size: 16px;
                padding: 0px !important;
                width: 95% !important;
                margin: 10px auto !important;
            }
    
            input{
                border: 1px solid #111;
                border-radius: 2rem;
                padding:5px;
                font-size: 14px;
                float:none !important;
                width: 95%;
                margin: 5px 0;
            }
        }
        

        .input-message{
            display: block;
            width:95%;
            font-size: 16px;
            padding: 0 !important;
            margin: 10px auto !important;

            textarea{
                resize: none;
                padding: 5px;
                border: 1px solid #111;
                border-radius: 2rem;
                height: 200px;
                overflow: auto;
                width: 95%!important;
                margin: 5px 0;
            }
        }
    }
}

@media (max-width: 48em) {
    .content-contact{
        .title{
            font-size: 18px;
        }

        .cadre-form{
            flex-direction: column;
            width: 95%;
            height: auto;
        }

        .img-part{
            width: 100%;
            border-top-right-radius:0px 0px;
            border-bottom-left-radius: 200px 20px;
            border-bottom-right-radius: 200px 20px;

            img{
                width: 50%;
                margin: 0 auto;
            }
        }

        .form-part{
            width: 100%;

        }

        .form-part-info{
            display: flex;
            width: 100%;
            flex-direction: column;
            label{
                padding: 0px !important;
                width: 95% !important;
                margin: 10px auto !important;
            }
            input{
                float:none !important;
                width: 95%;
                margin: 5px 0;
                
            }
        }

        .input-message{
            padding: 0 !important;
            margin: 10px auto !important;

            textarea{
                width: 95%!important;
                float: none !important;
                margin: 5px 0;
            }
        }
    }
}