/* Content Formation */

.content-formation {

    margin-top: 6.5rem;

    h3 {
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        font-weight: 900;
        line-height: 6.1rem;
        text-align: center;
        text-transform: uppercase;
        width: 90%;
        display: block;
        margin: 0 auto;
        padding-bottom: 5rem;
    }

    .container {

        display: flex;
        justify-content: space-around;
        padding-bottom: 5rem;
        width: 90%;
        margin: 0 auto;

        .text {
            font-family: 'Titillium Web', sans-serif;
            font-size: 18px;
            line-height: 3.6rem;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p:last-child {
                padding-bottom: 5rem;
            }

        }

        .img {
            width: 32rem;
        }

    }

    p {

        font-family: 'Titillium Web', sans-serif;
        font-size: 26px;
        line-height: 3.6rem;
        text-align: center;
        padding-bottom: 5rem;

    }

    .btn {

        a {
            position: relative;
            display: inline-block;
            text-align: center;
            padding-bottom: 2rem;
            padding-top: 2rem;
            font-family: 'Ubuntu', sans-serif;
            font-size: 26px;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            width: 100%;
            background: linear-gradient(to right, #580806, #F56F6C);
            margin-bottom: 5rem;
            z-index: 1;

            &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(to right, #f56f6c, #580806 100%);
                z-index: -1;
                transition: opacity 0.5s ease-in-out;
                opacity: 0;
            }

            &:hover::before {
                opacity: 1;
            }

        }
    }

}

@media (max-width: 48em) {
    .container{
        flex-direction: column;

        .text{
            width:80% !important;
            margin: 0 auto;

            p{
                width: 100%;
            }
        }
    }
}