/* Content Posts */

.post {
    .categories-container {
        a {
            font-family: "Lato", sans-serif;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            padding: 5px;
            border: solid .3rem transparent;
            border-radius: 10rem;
            transition: .3s;
    
            &.exemple1 {
                background: #1E6D78;
                &:hover{
                    background: #fff;
                    border-color: #1E6D78;
                    color: #1E6D78;
                }
            }
    
            &.exemple2 {
                background: #F67976;
                &:hover{
                    background: #fff;
                    border-color: #F67976;
                    color: #F67976;
                }
            }
    
            &.exemple3 {
                background: #1E7841;
                &:hover{
                    background: #fff;
                    border-color: #1E7841;
                    color: #1E7841;
                }
            }
    
            &.exemple4 {
                background: #F6C076;
                &:hover{
                    background: #fff;
                    border-color: #F6C076;
                    color: #F6C076;
                }
            }
    
            &.exemple5 {
                background: #4E1E78;
                &:hover{
                    background: #fff;
                    border-color: #4E1E78;
                    color: #4E1E78;
                }
            }
    
            &.exemple6 {
                background: #67781E;
                &:hover{
                    background: #fff;
                    border-color: #67781E;
                    color: #67781E;
                }
            }
    
            &.exemple7 {
                background: #76C0F6;
                &:hover{
                    background: #fff;
                    border-color: #76C0F6;
                    color: #76C0F6;
                }
            }
    
            &.exemple8 {
                background: #781E1E;
                &:hover{
                    background: #fff;
                    border-color: #781E1E;
                    color: #781E1E;
                }
            }
    
            &.exemple9 {
                background: #BB76F6;
                &:hover{
                    background: #fff;
                    border-color: #BB76F6;
                    color: #BB76F6;
                }
            }
    
            &.exemple10 {
                background: #781E48;
                &:hover{
                    background: #fff;
                    border-color: #781E48;
                    color: #781E48;
                }
            }
    
            &.exemple11 {
                background: #F67976;
                &:hover{
                    background: #fff;
                    border-color: #F67976;
                    color: #F67976;
                }
            }
    
            &.exemple12 {
                background: #F676C0;
                &:hover{
                    background: #fff;
                    border-color: #F676C0;
                    color: #F676C0;
                }
            }
    
        }
    
    }

    .group-btn-share{
        display: flex;
        justify-content: space-between;
        list-style-type:none;
        width: 100%;

        li{
            text-align: center;
            font-family: "Lato", sans-serif;
            margin: 15px; 
            color: #fff;
            width: 100%;
            font-weight: bold;
            font-size: 20px;
            border-radius: 6.5rem;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
        }

        i{
            margin: 0 10px; 
        }

        a{
            color: #fff;
            text-decoration: none;
        }

        .btn-facebook{
            background:#3b5998;
        }

        .btn-twitter{
            background:#00acce;
        }

        .btn-linkedin{
            background:#0e76a8;
        }
    }

    margin-top: 6.5rem;

    .postflex{
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    article {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 5rem;

        code{
            width: 40%;
        }

        .categories-container{
            margin-top: 6.5rem;
        }

        .title-post {
            font-family: "Lato", sans-serif;
            font-weight: bold;
            font-size: 3.42857rem;
        }

        .excerpt-post{
            font-family: "Titillium Web", sans-serif;
            font-size: 18px;
            font-style: italic;
            color: grey;
        }

        .author-post{
            width: 30%;
            font-size: 16px;
            background: rgba(239,239,239,.5);
            line-height: 2.5 !important;
            margin: 10px;
            padding: 0 10px;
            border-radius: 7px;
        }

        .image-post{
            border-radius: 7px;
        }

        p {
            font-family: "Titillium Web", sans-serif;
            color: #111;
            font-size: 18px;
            max-width: 100%;
        }

        .body-blogpost{
            padding: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    .sidebar-post{
        width: 30%;
        position:relative;

        .content-sidebar{
            position: -webkit-sticky;
            position: sticky;
            top: 15%;
            margin: 60px auto;
            
            .item-content-sidebar-1{
                padding: 10px;
                margin: 20px auto;
                height: auto;
                width: 90%;
                border: 5px solid #1E6C77;
                border-radius: 7px;
            }

            .item-content-sidebar-2{
                color: #1E6C77;
                padding: 10px;
                margin: 20px auto;
                height: 150px;
                width: 90%;
                border: 5px solid #1E6C77;
                border-radius: 7px;
            }

            h3{
                 font-family: 'Titillium Web', sans-serif;
                text-align: center;
                color: #1E6C77;
                font-size: 24px;
            }

            p{
                 font-family: 'Titillium Web', sans-serif;
                text-align: center;
                color: #1E6C77;
                font-size: 18px;
            }

            label{
                display: block;
                text-align: center;
                margin: 20px auto;
                font-family: 'Titillium Web', sans-serif;
                color: #1E6C77;
                font-size: 16px;
            }

            input{
                display: block;
                width: 80%;
                height: 40px;
                font-family: 'Titillium Web', sans-serif;
                font-size: 16px;
                border: .1rem solid #707070;
                border-radius: 6.5rem;
                padding-left: 10px;
                padding-right: 10px;
                margin: 10px auto;
            }

            input:focus{
                outline:none;
                box-shadow: 0 0 0pt 1pt #1E6C77;
            }

            button{
                display: block;
                text-transform: uppercase;
                margin: 10px auto;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                font-weight: 900;
                background: #F67976;
                color: #fff;
                border: .25rem solid #F67976;
                border-radius: 6.5rem;
                padding: 7px;
                transition: .3s;

                &:hover {
                    color: #F67976;
                    background: #fff;
                }
            }

            button:focus{
                outline: none;
            }

            .social-icon {
                display: flex;
                justify-content: space-between;
                width: 80%;
                margin: 10px auto;
                
                i {
                    color: #1E6C77;
                    transition: 0.3s;
        
                }
        
            }
        }
    }

    .same-categories {

        background: linear-gradient(to right, #262B32, #4D5666);
        padding: 2.5rem 5rem;

        h2 {
            font-family: "Lato", sans-serif;
            font-weight: bold;
            font-size: 26px;
            color: #fff;
            text-transform: uppercase;
            padding-bottom: 5rem;
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

    }

    .blog-post{
        iframe{
            display: block;
        }
    }

}

@media (max-width: 48em) {
    .postflex{
        flex-direction: column;

        article{
            width: 95%;

            .author-post{
                width: 95%;
                padding: 0;
                margin: 10px 0;
            }

            .title-post{
                font-size: 22px;
            }
        }

        .sidebar-post{
            width: 95%;
            margin: 0 auto;
        }
        
    }

    .same-categories{
        padding: 15px !important;
        .container{
            width: 95%;
            margin: 0 auto;
        }
    }

    
}