.content-solutions {
    background: linear-gradient(to right, #262B32, #4D5666);
    color: #fff;
    padding: 20px;

    .left{
        justify-content: flex-start;
    }

    .right{
        justify-content: flex-end;
    }

    .container {

        display: flex;
        padding-top: 6rem;
        padding-bottom: 3rem;
        width: 100%;
        margin: 30px 0;

        

        .content {
            display: flex;
            flex-direction: column;
            width: 60%;

            h3 {
                font-size: 24px;
                font-weight: 900;
                font-family: 'Lato', sans-serif;
            }

            p {
                font-size: 18px;
                font-family: 'Titillium Web', sans-serif;
                padding-top: 1.5rem;
                width: 60%;
            }

        }

    }

}

