.content-solutions {
    background: linear-gradient(to right, #262B32, #4D5666);
    color: #fff;
    padding: 20px;

    .container {

        display: grid;
        grid-template-areas: "😀 "
                             "😀 ";
        padding-top: 6rem;
        padding-bottom: 3rem;
        width: 100%;
        margin: 30px 0;

        .content {
            grid-area: "😀";
            padding-right: 10rem;

            

            h3 {
                font-size: 24px;
                font-weight: 900;
                font-family: 'Lato', sans-serif;
            }

            p {
                font-size: 18px;
                font-family: 'Titillium Web', sans-serif;
                padding-top: 1.5rem;
                width: 60%;
            }

        }

    }

}

