.content-contact {
    margin:9.5rem auto;
    font-family: 'Lato', sans-serif;

    input:focus{
        outline:none;
        box-shadow: 0 0 0pt 1pt #1E6C77;
    }

    textarea:focus{
        outline:none;
        box-shadow: 0 0 0pt 1pt #1E6C77;
    }

    .title {
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 26px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .cadre-form{
        width: 70%;
        height:500px;
        margin: 25px auto;
        display: flex;
        border-radius: 10px;
        box-shadow: 0 5px 25px 0 rgba(0,0,0,.3);
    }

    .img-part{
        width: 30%;
        display: flex;
        align-items: center;
        padding: 25px;
        border-radius: 10px;
        border-top-right-radius: 30px 200px;
        border-bottom-right-radius: 30px 200px;
        background: #ECF4F4;
        img{
            display: block;
            width:100%;
            height: auto;
        }
    }

    .form-part{
        width: 70%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        form{
            position: relative;
            height: 100%;
            padding:25px; 
        }

        button{
            width:80px;
            height:35px;
            font-weight: bold;
            position: absolute;
            bottom: 5%;
            right:5%;
            background: #1E6C77;
            border: none;
            color:#fff;
            border-radius: 2rem;
            font-size:14px;   
        }

        button:hover{
            background: #fff;
            color:#1E6C77 ;
            border: 2px solid #1E6C77;

        }

        .form-part-info{

            label{
                display: block;
                width:55%;
                margin: 15px;
                font-size: 16px;
                padding-left: 30px;
            }
    
            input{
                border: 1px solid #111;
                border-radius: 2rem;
                float: right;
                padding:5px;
                font-size: 14px;
            }
        }
        

        .input-message{
            display: block;
            width:98%;
            margin: 15px;
            font-size: 16px;
            padding-left: 30px;

            textarea{
                resize: none;
                padding: 5px;
                border: 1px solid #111;
                border-radius: 2rem;
                width:75%;
                height: 200px;
                float: right;
                overflow: auto;
            }
        }
    }
}