@charset "UTF-8";
/* line 2, ../sass/_base.scss */
html {
  font-size: .625em;
  /* fallback IE8+ */
  font-size: calc(1em * .625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Box sizing rules */
/* line 8, ../sass/_base.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* line 15, ../sass/_base.scss */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
/* line 21, ../sass/_base.scss */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
/* line 39, ../sass/_base.scss */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* line 47, ../sass/_base.scss */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* line 53, ../sass/_base.scss */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* line 58, ../sass/_base.scss */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* line 64, ../sass/_base.scss */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* line 69, ../sass/_base.scss */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove font style on address */
/* line 77, ../sass/_base.scss */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  /* line 83, ../sass/_base.scss */
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Text meant only for screen readers. */
/* line 92, ../sass/_base.scss */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* line 105, ../sass/_base.scss */
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
/* line 124, ../sass/_base.scss */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}
